{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static "shop/css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/elegant-icons.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/jquery-ui.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/magnific-popup.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/owl.carousel.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/slicknav.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/style.css" %}" type="text/css">
</head>



<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <body>
        <!-- Page Preloder -->
        {% comment %} <div id="preloder">
            <div class="loader"></div>
        </div> {% endcomment %}
    
        <!-- Offcanvas Menu Begin -->
        <div class="offcanvas-menu-overlay"></div>
        <div class="offcanvas-menu-wrapper">
            <div class="offcanvas__close">+</div>
            <ul class="offcanvas__widget">
                <!-- <li><span class="icon_search search-switch"></span></li>
                <li><a href="#"><span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a></li> -->
                <li><a href="{% url 'cart' %}"><span class="icon_bag_alt"></span>
                    <div class="tip">{{ cart_count }}</div>
                </a></li>
            </ul>
            <div class="offcanvas__logo">
                <a href="./index.html"><img src="img/logo.png" alt=""></a>
            </div>
            <div id="mobile-menu-wrap"></div>
            <div class="offcanvas__auth">
                <a href="#">Login</a>
                <a href="#">Register</a>
            </div>
        </div>
        <!-- Offcanvas Menu End -->
    
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{% url 'shop_index' %}">Home</a></li>
                            {% if user.is_authenticated and request.user.customers %}
                            <li><a href="{% url 'shop_index' %}">Shop</a></li>
                            <!-- <li><a href="#">Product Details</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details.html"></a>Orders</li>
                                    <li><a href="./shop-cart.html">Shop Cart</a></li>
                                    <li><a href="./checkout.html">Checkout</a></li>
                                    <li><a href="./blog-details.html">Address Details</a></li>
                                </ul>
                            </li> -->
                            
                            <!-- <li><a href="./contact.html">Contact</a></li> -->
                          <li> <a href="{% url 'customerlogout' %}">Logout</a></li> 
                            {% else %}
                            <li><a href="{% url 'customerlogin' %}">Login</a></li> 
                            <li><a href="{% url 'customer_register' %}">Register</a></li> 
                            {% endif %}
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-3">
                    <div class="header__right">
                        <!-- <div class="header__right__auth">
                            <a href="#">Login</a>
                            <a href="#">Register</a>
                        </div> -->
                        <ul class="header__right__widget">
                            <!-- <li><span class="icon_search search-switch"></span></li>
                            <li><a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li> -->
                            {% if user.is_authenticated and request.user.customers %}
                            <li><a href="{% url 'wishlist' %}"><span class="icon_heart_alt"></span>
                                <div class="tip">{{ wishlist_count }}</div>
                            </a></li>
                            <li><a href="{% url 'cart' %}"><span class="icon_bag_alt"></span>
                                <div class="tip">{{ cart_count }}</div>
                            </a></li>
                            {% endif %}
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if cartitems %}
                    <div class="shop_cart_table card shadow-sm">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cart_item in cartitems %}
                                    <tr>
                                        <td class="cart_product_item">
                                            <img src="{{ cart_item.product.image.url }}" alt="" class="img-thumbnail" style="max-width: 100px; max-height: 100px;">
                                            <div class="cart_productitem_title ml-3">
                                                <h6>{{ cart_item.product.name }}</h6>
                                            </div>  
                                        </td>
                                        <td class="cart__price">₹ {{ cart_item.product.price }}</td>
                                        <td class="cart__quantity">
                                            <div class="input-group input-group-sm" style="width: 120px;">
                                                <div class="input-group-prepend">
                                                    <a href="{% url 'remove_cart' cart_item.product.id %}" class="btn btn-outline-secondary">
                                                        <i class="fa fa-minus"></i>
                                                    </a>
                                                </div>
                                                <input type="text" class="form-control text-center" value="{{ cart_item.Quantity }}">
                                                <div class="input-group-append">
                                                    <a href="{% url 'add_cart' cart_item.product.id %}" class="btn btn-outline-secondary">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart__total">₹ {{ cart_item.sub_total }}</td>
                                        <td class="cart__close">
                                            <a href="{% url 'remove_cartitem' cart_item.product.id %}" class="btn btn-sm btn-danger">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6 offset-md-6">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title mb-4">Cart Summary</h5>
                                    <table class="table table-borderless">
                                        <tr>
                                            <td>Subtotal</td>
                                            <td class="text-right">₹ {{ total }}</td>
                                        </tr>
                                        <tr>
                                            <td>Tax</td>
                                            <td class="text-right">₹ {{ tax }}</td>
                                        </tr>
                                        <tr class="font-weight-bold">
                                            <td>Total</td>
                                            <td class="text-right">₹ {{ grand_total }}</td>
                                        </tr>
                                    </table>
                                    <a href="{% url 'checkout' %}" style="background-color: #e32626; color: #fff;" class="btn btn-primary btn-block mt-3">
                                        Proceed to Checkout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="text-center mt-5">
                        <h4 class="text-muted">Your cart is currently empty.</h4>
                        <a href="{% url 'shop_index' %}" class="btn btn-primary mt-3">Continue Shopping</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        cilisis.</p>
                        <div class="footer__payment">
                            <a href="#"><img src="img/payment/payment-1.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-2.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-3.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-4.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer_copyright_text">
                        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static "shop/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "shop/js/bootstrap.min.js" %}"></script>
    <script src="{% static "shop/js/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "shop/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "shop/js/mixitup.min.js" %}"></script>
    <script src="{% static "shop/js/jquery.countdown.min.js" %}"></script>
    <script src="{% static "shop/js/jquery.slicknav.js" %}"></script>
    <script src="{% static "shop/js/owl.carousel.min.js" %}"></script>
    <script src="{% static "shop/js/jquery.nicescroll.min.js" %}"></script>
    <script src="{% static "shop/js/main.js" %}"></script>
</body>

</html>