{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static "shop/css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/elegant-icons.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/jquery-ui.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/magnific-popup.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/owl.carousel.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/slicknav.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/style.css" %}" type="text/css">




    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'shop/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static "shop/css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/elegant-icons.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/jquery-ui.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/magnific-popup.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/owl.carousel.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/slicknav.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "shop/css/style.css" %}" type="text/css">
    <style>
        .wishlist-items {
            list-style-type: none;
            padding: 0;
        }

        .wishlist-item {
            display: flex;
            align-items: center;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            padding: 15px;
            margin-bottom: 15px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .wishlist-item-image img {
            width: 100px; /* Adjust as needed */
            height: auto;
            border-radius: 8px;
            margin-right: 20px;
        }

        .wishlist-item-details {
            flex-grow: 1;
        }

        .wishlist-item-details h3 {
            font-size: 20px;
            margin: 0;
            color: #333;
        }

        .wishlist-item-price {
            font-size: 18px;
            color: #e53637;
            margin: 5px 0;
        }
        .profile-details {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .profile-details img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        .profile-details .admin_name {
            margin-left: 10px;
            font-size: 16px;
            color: #333;
        }

        .profile-details .bx-chevron-down {
            margin-left: 10px;
            cursor: pointer;
        }

        .profile-details .dropdown-menu {
            display: none; /* Keep it hidden by default */
            position: absolute;
            top: 50px;
            right: 0;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            overflow: hidden;
            z-index: 1000; /* Ensure it appears above other elements */
        }

        .profile-details .dropdown-menu li {
            list-style: none;
        }

        .profile-details .dropdown-menu li a {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: #333;
            border-bottom: 1px solid #f0f0f0;
        }

        .profile-details .dropdown-menu li a:hover {
            background-color: #f0f0f0;
        }

        .profile-details:hover .dropdown-menu,
        .profile-details .dropdown-menu:hover {
            display: block; /* Show on hover */
        }
    </style>
</head>



<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <body>
        <!-- Page Preloder -->
        {% comment %} <div id="preloder">
            <div class="loader"></div>
        </div> {% endcomment %}
    
        <!-- Offcanvas Menu Begin -->
        <div class="offcanvas-menu-overlay"></div>
        <div class="offcanvas-menu-wrapper">
            <div class="offcanvas__close">+</div>
            <!-- <ul class="offcanvas__widget">
                <li><span class="icon_search search-switch"></span></li>
                <li><a href="#"><span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a></li>
                <li><a href="#"><span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                </a></li>
            </ul> -->
            <div class="offcanvas__logo">
                <a href="./index.html"><img src="img/logo.png" alt=""></a>
            </div>
            <div id="mobile-menu-wrap"></div>
            <div class="offcanvas__auth">
                <a href="#">Login</a>
                <a href="#">Register</a>
            </div>
        </div>
        <!-- Offcanvas Menu End -->
    
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{% url 'shop_index' %}">Home</a></li>
                            {% if user.is_authenticated and request.user.customers %}
                            <li><a href="#new-product-section">Shop</a></li>
                            <li><a href="{% url 'view_your_orders' %}">View Orders</a></li>
                            <!-- <li><a href="#">Product Details</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details.html"></a>Orders</li>
                                    <li><a href="./shop-cart.html">Shop Cart</a></li>
                                    <li><a href="./checkout.html">Checkout</a></li>
                                    <li><a href="./blog-details.html">Address Details</a></li>
                                </ul>
                            </li> -->
                            
                            <!-- <li><a href="./contact.html">Contact</a></li> -->
                          <li> <a href="{% url 'customerlogout' %}">Logout</a></li> 
                          <!-- <div class="profile-details" style="display: inline-block; vertical-align: middle; margin-left: 10px;">
                            <a href="{% url 'customerprofile' %}">
                                <span class="admin_name" style="font-size: 16px; font-weight: 700; color: black;">Hi {{ user.username }}</span>
                            </a>
                        </div> -->
                            {% else %}
                            <li><a href="{% url 'customerlogin' %}">Login</a></li> 
                            <li><a href="{% url 'customer_register' %}">Register</a></li> 
                            {% endif %}
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-3">
                    <div class="header__right">
                        <!-- <div class="header__right__auth">
                            <a href="#">Login</a>
                            <a href="#">Register</a>
                        </div> -->
                        <ul class="header__right__widget">
                            <!-- <li><span class="icon_search search-switch"></span></li>
                            <li><a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li> -->
                            {% if user.is_authenticated and request.user.customers %}
                            <li><a href="{% url 'wishlist' %}"><span class="icon_heart_alt"></span>
                                <div class="tip">{{ wishlist_count }}</div>
                            </a></li>
                            <li><a href="{% url 'cart' %}"><span class="icon_bag_alt"></span>
                                <div class="tip">{{ cart_count }}</div>
                            </a></li>
                            <!-- <li><a href="#">Hi {{ user.username }}</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'customerprofile' %}"></a>Profile</li>
                                    <li><a href="{% url 'add_address' %}">Add Address</a></li>
                                    
                                </ul>
                            </li>  -->

                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ profile_pic }}" alt="Profile" class="profile-icon">
                                    <span class="username">Hi {{ user.username }}</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="{% url 'customerprofile' %}">Profile</a>
                                    <a class="dropdown-item" href="{% url 'add_address' %}">Add Address</a>
                                </div>
                 </li> -->
                 <div class="profile-details" style="display: inline-block; vertical-align: middle; margin-left: 10px;">
                    <span class="admin_name" style="font-size: 16px; font-weight: 700; color: #010302;">Hi {{user.username}}</span>
                    <i class='bx bx-chevron-down'></i>
                    <ul class="dropdown-menu" style="display: none; position: absolute; background-color: #fff; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);">
                        <li><a class="dropdown-item" href="{% url 'customerprofile' %}" style="padding: 10px 20px; text-decoration: none; color: #333;">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'order_history' %}" style="padding: 10px 20px; text-decoration: none; color: #333;">View Orders</a></li>
                        <li><a class="dropdown-item" href="{% url 'track_order_status' %}" style="padding: 10px 20px; text-decoration: none; color: #333;">Track Orders</a></li>
                        <li><a class="dropdown-item" href="{% url 'add_address' %}" style="padding: 10px 20px; text-decoration: none; color: #333;">Add Address</a></li>
                        <li><a class="dropdown-item" href="{% url 'customerlogout' %}" style="padding: 10px 20px; text-decoration: none; color: #333;">Logout</a></li>
                    </ul>
                  </div>



                            <!-- <div class="profile-details" style="display: inline-block; vertical-align: middle; margin-left: 10px;">
                                <a href="{% url 'customerprofile' %}">
                                    <span class="admin_name" style="font-size: 16px; font-weight: 700; color: black;">Hi {{ user.username }}</span>
                                </a>
                                
                            </div> -->
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg"
                    data-setbg="{% static 'shop/img/categories/artdecor.jpg' %}">
                    <div class="categories__text">
                        <h1 style="color: white;">Art and Decor</h1>
                        <p style="color: white;">Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                        edolore magna aliquapendisse ultrices gravida.</p>
                        <a href="#" style="color: white;">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="{% static 'shop/img/categories/fur.jpg' %}">
                            <div class="categories__text">
                                <h4 style="color: white;">Furniture</h4>
                                <p style="color: white;">358 items</p>
                                <a href="#" style="color: white;">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="{% static 'shop/img/categories/fas.jpg' %}">
                            <div class="categories__text">
                                <h4 style="color: white;">Fashion Accessories</h4>
                                <p style="color: white;">273 items</p>
                                <a href="#" style="color: white;">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="{% static 'shop/img/categories/gift.jpg' %}">
                            <div class="categories__text">
                                <h4 style="color: white;">Gifts</h4>
                                <p style="color: white;">159 items</p>
                                <a href="#" style="color: white;">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="{% static 'shop/img/categories/cloth.jpg' %}">
                            <div class="categories__text">
                                <h4 style="color: white;">Cloths</h4>
                                <p style="color: white;">792 items</p>
                                <a href="#" style="color: white;">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad" id="new-product-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>New product</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*"><a href="{% url 'shop_index' %}">All</a></li>
                    {% for category in links %}
                    <li data-filter=".{{ category.slug }}"><a href="{{ category.get_url }}">{{ category.name }}</a></li>
                {% endfor %}

                </ul>
            </div>
        </div>
        <div class="row property__gallery">
            {% for product in products %}

            <div class="col-lg-3 col-md-4 col-sm-6 mix {% for category in product.categories.all %}{{ category.slug }} {% endfor %}">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{{ product.image.url }}">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li><a href="{{ product.image.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li> -->
                            <li><a href="{% url 'add_to_wishlist' product.id %}"><span class="icon_heart_alt"></span>
 
                            </a></li>
                            <li><a href="{% url 'add_cart' product.id %}"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>  {% if product.categories.first %}
                            <a href="{% url 'product_detail' category_slug=product.categories.first.slug product_slug=product.slug %}">{{ product.name }}</a>
                            {% else %}
                            <span>{{ product.name }}</span>
                        {% endif %}
                    </h6>

                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">{{ product.price }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

            <!-- <div class="col-lg-3 col-md-4 col-sm-6 mix men">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'shop/img/product/product-2.jpg' %}">
                        <ul class="product__hover">
                            <li><a href="{% static 'shop/img/product/product-2.jpg' %}" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix accessories">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'shop/img/product/product-3.jpg' %}">
                        <div class="label stockout">out of stock</div>
                        <ul class="product__hover">
                            <li><a href="{% static 'shop/img/product/product-3.jpg' %}" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Cotton T-Shirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix cosmetic">
                <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'shop/img/product/product-4.jpg' %}">
                        <ul class="product__hover">
                            <li><a href="{% static 'shop/img/product/product-4.jpg' %}" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Slim striped pocket shirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix kid">
                <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'shop/img/product/product-5.jpg' %}">
                        <ul class="product__hover">
                            <li><a href="{% static 'shop/img/product/product-5.jpg' %}" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Fit micro corduroy shirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                <div class="product__item sale">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'shop/img/product/product-6.jpg' %}    ">
                        <div class="label sale">Sale</div>
                        <ul class="product__hover">
                            <li><a href="{% static 'shop/img/product/product-6.jpg' %}" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Tropical Kimono</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0 <span>$ 59.0</span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'shop/img/product/product-7.jpg' %}">
                        <ul class="product__hover">
                            <li><a href="{% static 'shop/img/product/product-7.jpg' %}" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Contrasting sunglasses</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                <div class="product__item sale">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'shop/img/product/product-8.jpg' %}">
                        <div class="label">Sale</div>
                        <ul class="product__hover">
                            <li><a href="{% static 'shop/img/product/product-8.jpg' %}" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Water resistant backpack</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0 <span>$ 59.0</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Product Section End -->

<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="{% static 'shop/img/banner/banner-1.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Trend Section Begin -->
<section class="trend spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Hot Trend</h4>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="{% static 'shop/img/trend/ht-1.jpg' %}" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Chain bucket bag</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="{% static 'shop/img/trend/ht-2.jpg' %}" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Pendant earrings</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="{% static 'shop/img/trend/ht-3.jpg' %}" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Cotton T-Shirt</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Best seller</h4>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="{% static 'shop/img/trend/bs-1.jpg' %}" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Cotton T-Shirt</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="{% static 'shop/img/trend/bs-2.jpg' %}" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Zip-pockets pebbled tote <br />briefcase</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="{% static 'shop/img/trend/bs-3.jpg' %}" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Round leather bag</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Feature</h4>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="{% static 'shop/img/trend/f-1.jpg' %}" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Bow wrap skirt</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="{% static 'shop/img/trend/f-2.jpg' %}" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Metallic earrings</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                                <img src="{% static 'shop/img/trend/f-3.jpg' %}" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Flap cross-body bag</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trend Section End -->

<!-- Discount Section Begin -->
<section class="discount">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img src="{% static 'shop/img/discount.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text">
                    <div class="discount__text__title">
                        <span>Discount</span>
                        <h2>Summer 2019</h2>
                        <h5><span>Sale</span> 50%</h5>
                    </div>
                    <div class="discount__countdown" id="countdown-time">
                        <div class="countdown__item">
                            <span>22</span>
                            <p>Days</p>
                        </div>
                        <div class="countdown__item">
                            <span>18</span>
                            <p>Hour</p>
                        </div>
                        <div class="countdown__item">
                            <span>46</span>
                            <p>Min</p>
                        </div>
                        <div class="countdown__item">
                            <span>05</span>
                            <p>Sec</p>
                        </div>
                    </div>
                    <a href="#">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all oder over $99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'shop/img/instagram/insta-1.jpg' %}   ">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'shop/img/instagram/insta-2.jpg' %}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'shop/img/instagram/insta-3.jpg' %}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'shop/img/instagram/insta-4.jpg' %}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'shop/img/instagram/insta-5.jpg' %}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'shop/img/instagram/insta-6.jpg' %}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                            <a href="./index.html"><img src="{% static 'shop/img/logo.png' %}" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="{% static 'shop/img/payment/payment-1.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'shop/img/payment/payment-2.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'shop/img/payment/payment-3.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'shop/img/payment/payment-4.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'shop/img/payment/payment-5.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="{% static 'shop/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'shop/js/bootstrap.min.js' %}"></script>
<script src="{% static 'shop/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'shop/js/jquery-ui.min.js' %}    "></script>
<script src="{% static 'shop/js/mixitup.min.js' %}"></script>
<script src="{% static 'shop/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'shop/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'shop/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'shop/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'shop/js/main.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const shopLink = document.querySelector('a[href="#new-product-section"]');
        if (shopLink) {
            shopLink.addEventListener('click', function(e) {
                e.preventDefault();
                const newProductSection = document.getElementById('new-product-section');
                if (newProductSection) {
                    newProductSection.scrollIntoView({behavior: 'smooth'});
                }
            });
        }
    });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const profileDetails = document.querySelector('.profile-details');
            const dropdownMenu = profileDetails.querySelector('.dropdown-menu');

            // Toggle dropdown visibility on click
            profileDetails.addEventListener('click', function(e) {
                e.stopPropagation(); // Prevent event bubbling
                dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block'; // Toggle dropdown visibility
            });

            // Close the dropdown if clicking outside of it
            document.addEventListener('click', function() {
                dropdownMenu.style.display = 'none';
            });
        });
    </script>
</body>

</html>